# Visual Studio files
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
packages/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# Installshield output folder
[Ee]xpress/

# DocProject file
**/*.DocProject

# Temp files
**/*.bak
**/*.tmp
**/*.log

# Resharper cache/temp folders
**/resharper*/**/Cache
**/resharper*/**/Data

# dotTrace
*.dotTrace
*.sws

# JustCode
.vspscc

# TeamCity ReSharper Plugin
_TeamCity*

# Paket dependency manager
.paket/paket.exe

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

#virtual environment
.env
.venv
env/
venv/

# Cake - Uncomment if you are using it
# tools/
# build/

# download videos
downloaded_folder/

#sendvideo
send_videos/

#test
test/