@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh; /* 100% of viewport height */
    display: flex;
    background-color: #000000;
}

.Main-container {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center ;
    flex-direction: column;
}

.img-title {
    width: 30%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
}

@media (max-width: 768px) {
    .img-title {
        width: 100%;
    }
}

.input {
    width: 80%;
    height: 20%;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search_bar {
    margin-top: 40px;
    display: flex;
    align-items: center;
    border-bottom: .1rem inset rgba(255, 255, 255, 0.5);
}

.search_bar input {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    background: none;
    flex: 1;
    border: 0;
    outline: none;
    color: white;
    padding: 12px 8px;
}

#reset {
    background-color: black;
    border: 0;
    cursor: pointer;
    padding: 5px 8px;
}

#reset img {
    background-color: white;
    height: 50%;
    width: 70%;
}

.extract {
    background-color: black;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.extract img {
    height: 20%;
    width: 20%;
}

.video-info {
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    border : solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: #ffffff;
    width: 70%;
    margin-top: 40px;
}

.video-general {
    color: white;
    padding: 10px;
    font-size: 14px;
    border-right: solid 1px rgba(255, 255, 255, 0.5);
    width: 50%;
    float: left;
    overflow: hidden;
}

.video-details {
    padding: 10px 14px;
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    width: 50%;
    float: right;
}
.video-general img {
    display: block;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}