{%extends "index.html"%} {%block content%}

<div class="main-page2">
    <div class="sector1">
        <div class="video-sector">
            <div id="player"></div>
        </div>
        <div class="cut-sector">
            <p class="cutter-tittle">YouTube <br> Trimmer</p>
            <div class="fstcut">
                <div class="extract-time">
                    <!-- <p>Please use Input form if Video Unavailable</p> -->
                    <div class="extract-start">
                        <button onclick="getStartTime()">set start point</button>
                        <div style="color: white; display:none;" id="StartTime"></div>
                        <input type="text" id="startTimeInput" oninput="updateStartTime()" placeholder="HH:MM:SS" />
                    </div>
                    <div class="extract-end">
                        <button onclick="getEndTime()">set end point</button>
                        <div style="color: white; display:none;" id="EndTime"></div>
                        <input type="text" id="endTimeInput" oninput="updateEndTime()" placeholder="HH:MM:SS" />
                    </div>
                </div>
                <div class="cut-button">
                    <button id="trim-btn" onclick="check_cut_condition()">Trim Comfirm</button>
                </div>
            </div>
            <div class="preview" style="pointer-events: none;">
                <iframe id="preview_player" width="100%" height="100%" src=""
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;  web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="sector2">
        <div class="result-sector">
            <div class="result-head">
                <p class="sector-title" style="width: 80%; height: 100%; border: none; border-top-right-radius: 0px; border-top-left-radius: 5px">{{video.title}}</p>
                <a href="/" style="width:20%; height: 100%; color: white; display: flex; justify-content: center; align-items: center; background-color: rgb(63, 58, 203); border-top-right-radius: 5px">Return</a>
            </div>
            <div class="result-list">
                <div class="thumbnail">
                    <img style="object-fit: contain; width: 100%; height: 100%;" src="https://img.youtube.com/vi/{{video.video_id}}/maxresdefault.jpg" alt="{{ video.title }}">
                </div>
                <div class="video-info">
                    <p>Author: {{video.author}}</p>
                    <p id="vidLength">Length: {{format_time(video.length)}}</p>
                    <p id="audioOnly">Audio Only: No</p>
                    <p id="videoOnly">Video Only: No</p>
                    <p id="Trimmed">Trimmed: No</p>
                </div>
                <form class="set-btn" id="downloadForm" action="{{ url_for('downloads.download_video', url=url) }}"
                    method="get">
                    <button type="button" id="AuOnlyBtn" style="height: 20%; width: 90%" onclick="setAudioOnly()">Audio Only</button>
                    <button type="button" id="VidOnlyBtn" style="height: 20%; width: 90%" onclick="setVideoOnly()">Video Only</button>
                    <button type="button" style="height: 50%; width: 90%; background-color: rgb(255, 9, 9); color: rgb(249, 249, 249); font-size: 15px; border: black" onclick="submitDownload()">Download</button>
                </form>
            </div>
        </div>
        <div class="qual-sector">
            <p class="sector-title">Select Quality</p>
            <div class="quality-list">
                {% for stream in video.streams.filter(mime_type="video/mp4",
                progressive=False, only_video=True) %}
                <button value="{{ stream.itag }}" onclick="selectQuality(this)">
                    {{ stream.resolution }}
                </button>
                {% endfor %}
            </div>
        </div>
        <div class="format-sector">
            <p class="sector-title">Select Format</p>
            <div class="format-list">
                {% for format in supported_formats %}
                <button value="{{ format }}" onclick="selectFormat(this)">
                    {{ format }}
                </button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    // Set default values for format 
    document.addEventListener('DOMContentLoaded', function () {
        // Set default format (mp4)
        var defaultFormatButton = document.querySelector('.format-list button[value="mp4"]');
        if (defaultFormatButton) {
            selectFormat(defaultFormatButton);
        }
    });

    var selectedQuality = null;
    function selectQuality(button) {
        if (selectedQuality) {
            selectedQuality.classList.remove("selected");
        }
        selectedQuality = button;
        selectedQuality.classList.add("selected");
        // CSS is used to highlight the selected button
    }
    var selectedFormat = null;
    function selectFormat(button) {
        if (selectedFormat) {
            selectedFormat.classList.remove("selected");
        }
        selectedFormat = button;
        selectedFormat.classList.add("selected");
    }
    //Download_handler
    function submitDownload() {

        if (selectedQuality != null || audio_only == true ) {
            if (selectedQuality == null) {
                qualityValue = null;
            } else {
                qualityValue = selectedQuality.value;
            }
            var formatValue = selectedFormat.value;
            var downloadUrl =
                "{{ url_for('downloads.download_video', url=url, format='__format__', quality='__quality__') }}";
            downloadUrl = downloadUrl
                .replace("__format__", formatValue)
                .replace("__quality__", qualityValue);
            downloadUrl +=
                "&Trim=" + enTrim + "&startTime=" + startTime + "&endTime=" + endTime + "&video_only=" + video_only + "&audio_only=" + audio_only;
            downloadUrl = downloadUrl.replaceAll("&amp;", "&");
            window.location.href = downloadUrl;
        } else {
            alert("Please select quality.");
        }
    }
    var video_only = false;
    var audio_only = false;
    function setVideoOnly() {
        if(video_only == true) { 
            video_only = false;
            document.getElementById("videoOnly").innerHTML = "VideoOnly: No";
            document.getElementById("VidOnlyBtn").classList.remove("selected");
        } else {
            video_only = true;
            audio_only = false;
            document.getElementById("videoOnly").innerHTML = "VideoOnly: Yes";
            document.getElementById("audioOnly").innerHTML = "AudioOnly: No";
            document.getElementById("VidOnlyBtn").classList.add("selected");
            document.getElementById("AuOnlyBtn").classList.remove("selected");
        }
    }
    function setAudioOnly() {
        if(audio_only == true) { 
            audio_only = false;
            document.getElementById("audioOnly").innerHTML = "AudioOnly: No";
            document.getElementById("AuOnlyBtn").classList.remove("selected");
        } else {
            audio_only = true;
            video_only = false;
            document.getElementById("audioOnly").innerHTML = "AudioOnly: Yes";
            document.getElementById("videoOnly").innerHTML = "VideoOnly: No";
            document.getElementById("AuOnlyBtn").classList.add("selected");
            document.getElementById("VidOnlyBtn").classList.remove("selected");
        }
    }
    // Function to create and initialize the YouTube player
    var player;
    var startTime = 0;
    var endTime = 0;
    var enTrim = false;
    function onYouTubeIframeAPIReady() {
        console.log("YouTube API ready");
        //player = new YT.Player('playing');
        player = new YT.Player("player", {
            width: "100%",
            heigh: "100%",
            videoId: "{{video_id}}",
            playerVars: {
                playsinline: 1,
                autoplay: 1,
            },
            events: {
                onReady: onPlayerReady,
                //'onStateChange': onPlayerStateChange
            },
        });
    }
    function getCurrentTime() {
        var currentTime = player.getCurrentTime().toFixed(0);
        return currentTime;
    }

    function onPlayerReady() {
        console.log("Player ready");
    }

    function getStartTime() {
        startTime = getCurrentTime();
        document.getElementById("StartTime").innerHTML = startTime;
        document.getElementById("startTimeInput").value = secondsToHMS(startTime);
        updateTrim();
        console.log("starttime" + startTime);
        console.log("endtime" + endTime);
    }
    function getEndTime() {
        endTime = getCurrentTime();
        document.getElementById("EndTime").innerHTML = endTime;
        document.getElementById("endTimeInput").value = secondsToHMS(endTime);
        updateTrim();
        console.log("endtime" + endTime);
        console.log("starttime" + startTime);
    }
    function updateStartTime() {
        startTime = parseFloat(document.getElementById("startTimeInput").value) || 0;
        document.getElementById("StartTime").innerHTML = startTime;
        console.log(startTime);
    }

    function updateEndTime() {
        endTime = parseFloat(document.getElementById("endTimeInput").value) || 0;
        document.getElementById("EndTime").innerHTML = endTime;
        console.log(endTime);
    }
    function check_cut_condition() {
        if ( startTime === 0 && endTime === 0) {
            window.alert("Please select start and end time");
        } else {
            if(enTrim == true) {
                enTrim = false;
                document.getElementById("Trimmed").innerHTML = "Trimmed: No";
                document.getElementById("vidLength").innerHTML = "Length: {{format_time(video.length)}}"
                document.getElementById("trim-btn").classList.remove("selected");
                dis_play(false);
            } else if(enTrim == false) {
                console.log("start: " + startTime + " end: " + endTime)
                if(parseInt(endTime) > parseInt(startTime)) {
                    enTrim = true;
                    console.log("start: " + startTime + " end: " + endTime)
                    document.getElementById("Trimmed").innerHTML = "Trimmed: Yes";
                    document.getElementById("vidLength").innerHTML = "Length: " + secondsToHMS(endTime - startTime);
                    document.getElementById("trim-btn").classList.add("selected");
                    dis_play(true);
                } else {
                    console.log("start: " + startTime + " end: " + endTime)
                    window.alert("End time must be greater than start time");
                    dis_play(false);
                }
            }
        }
    }

    function updateTrim() {
        if(enTrim == true) {
            enTrim = false;
            document.getElementById("Trimmed").innerHTML = "Trimmed: No";
            document.getElementById("trim-btn").classList.remove("selected");
            dis_play(false);
        } 
    }

    function secondsToHMS(seconds) {
        var hours = Math.floor(seconds / 3600);
        var minutes = Math.floor((seconds % 3600) / 60);
        var remainingSeconds = Math.floor(seconds % 60);
    
        // Add leading zeros if needed
        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;
        remainingSeconds = (remainingSeconds < 10) ? "0" + remainingSeconds : remainingSeconds;
    
        return hours + ":" + minutes + ":" + remainingSeconds;
    }
    
    function dis_play(status){
        if(status == true) {
            document.getElementById("preview_player").src = "https://www.youtube.com/embed/{{video_id}}?autoplay=1&controls=0&disablekb=1&start=" + startTime + "&end=" + endTime + "&showinfo=0&loop=1";
        } else {
            document.getElementById("preview_player").src = "";
        }
    }
</script>
<script src="https://www.youtube.com/iframe_api"></script>

{% endblock %}