<!DOCTYPE html>
<html>
    <head>
        <title>YouTube Downloader</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" sizes="32x32">
        <link rel="stylesheet" type="text/css" href="../static/css/style2.css" />
        <script src="../static/js/script.js"></script>
    </head>
    <body>
        <div class = "Main-container">
            <img class="img-title" src="../static/images/title.png" href="/" alt="logo">
            <form id="download-form" method="POST" class="input"> 
                <div class="search_bar">
                    <input type="text" autocomplete="off" name="url" id="url" placeholder="URL goes here"/>
                    <button type="reset" id="reset" onclick="reset()"><img src="../static/images/clear.png"></button>
                </div>
                <button type="submit" id="extract" onclick="submit()"><img src="../static/images/extract.png"</button>
        </div>
    </body>
</html> 