<!DOCTYPE html>
<html>
  <head>
    <title>
      Đăng nhập
    </title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  </head>
  <body>
    <div class = "container" >
      <div class="Group28" style="width: 505px; height: 701px; position: relative">
        <div class="Rectangle3" style="width: 505px; height: 701px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05); border-radius: 10px; border: 0.50px #878787 solid"></div>
        <div class="Group27" style="width: 423px; height: 625px; left: 35px; top: 36px; position: absolute">
          <div class="Group1" style="width: 260px; height: 72px; left: 0px; top: 67px; position: absolute">
            <div class="SignInTo" style="left: 0px; top: 0px; position: absolute; color: black; font-size: 31px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Sign in to </div>
            <div class="YoutubeDownloader" style="width: 260px; left: 0px; top: 48px; position: absolute; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Youtube Downloader</div>
          </div>
          <div class="Welcome" style="left: 0px; top: 0px; position: absolute; color: black; font-size: 25px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Welcome !</div>
          <div class="Group26" style="width: 423px; height: 358px; left: 0px; top: 187px; position: absolute">
            <div class="Group21" style="width: 423px; height: 92px; left: 0px; top: 0px; position: absolute">
              <div class="UserName" style="width: 390px; left: 0px; top: 0px; position: absolute; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">User name</div>
              <div class="Group20" style="width: 423px; height: 59px; left: 0px; top: 33px; position: absolute">
                <div class="Rectangle4" style="width: 423px; height: 59px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 6px; border: 0.60px #282828 solid"></div>
                <div class="EnterYourUserName" style="left: 27px; top: 19px; position: absolute; color: #ABABAB; font-size: 14px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Enter your user name</div>
              </div>
            </div>
            <div class="Group23" style="width: 423px; height: 92px; left: 0px; top: 130px; position: absolute">
              <div class="Group22" style="width: 423px; height: 92px; left: 0px; top: 0px; position: absolute">
                <div class="Password" style="width: 390px; left: 0px; top: 0px; position: absolute; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Password</div>
                <div class="Group20" style="width: 423px; height: 59px; left: 0px; top: 33px; position: absolute">
                  <div class="Rectangle4" style="width: 423px; height: 59px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 6px; border: 0.60px #282828 solid"></div>
                  <div class="EnterYourPassword" style="left: 27px; top: 19px; position: absolute; color: #ABABAB; font-size: 14px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Enter your Password</div>
                </div>
              </div>
              <div class="Invisible1" style="width: 21px; height: 21px; left: 374px; top: 52px; position: absolute">
                <div class="Group" style="width: 21px; height: 18.13px; left: 0px; top: 1.43px; position: absolute">
                  <div class="Vector" style="width: 3.02px; height: 3.02px; left: 10.34px; top: 5.73px; position: absolute; background: black"></div>
                  <div class="Vector" style="width: 14.31px; height: 11.69px; left: 6.69px; top: 1.43px; position: absolute; background: black"></div>
                  <div class="Vector" style="width: 19.09px; height: 18.13px; left: 0px; top: 0px; position: absolute; background: black"></div>
                </div>
              </div>
            </div>
            <div class="Group24" style="width: 423px; height: 18px; left: 0px; top: 245px; position: absolute">
              <div class="Rectangle5" style="width: 15px; height: 15px; left: 0px; top: 3px; position: absolute; background: white; border: 1px black solid"></div>
              <div class="RememebrMe" style="left: 25px; top: 0px; position: absolute; color: black; font-size: 12px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Rememebr me</div>
              <div class="ForgotPassword" style="left: 315px; top: 0px; position: absolute; color: #4D4D4D; font-size: 12px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Forgot Password ?</div>
            </div>
            <div class="Group25" style="width: 423px; height: 57px; left: 0px; top: 301px; position: absolute">
              <div class="Rectangle6" style="width: 423px; height: 57px; left: 0px; top: 0px; position: absolute; background: black; border-radius: 6px"></div>
              <div class="Login" style="left: 190px; top: 17px; position: absolute; color: white; font-size: 16px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Login</div>
            </div>
          </div>
          <div class="DonYHaveAnAccountRegister" style="left: 77px; top: 601px; position: absolute"><span style="color: #7D7D7D; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Don’y have an Account ?</span><span style="color: black; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">  Register</span></div>
        </div>
      </div>
    </div>
   
  </body>
</html>


