<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN/REGISTER</title>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" sizes="20x20">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  </head>
  <body>
    <div class="loginContainer">
      <div class="loginFrame">
        <h2>Welcome!</h2>
        <h3>Sign Up</h3>
        <p class="quote">Create your account</p>
        <form class="login">
          <h4>Username:</h4>
          <input type="text" id="username" name="username" placeholder="Enter your username"><br><br>
          <h4>Password:</h4>
          <input type="password" id="password" name="password" placeholder="Enter your password"><br><br>
          <input type="submit" class="loginbutton" value="Signup">
        </form>
        <p style="margin-bottom: 10px;">Already have an account? <a href="login" style="font-size: 15px;">Login</a></p>
      </div>
    </div>
  </body>
</html>
