{% extends "index.html" %} {% block videoinfo %}
<div class="video-info">
    <div class="video-general">
        <h3>{{ video.title }}</h3>
        <p>{{ "Length: " + format_time(video.length)}}</p>
        <img src="{{ video.thumbnail_url }}" alt="thumbnail" />
    </div>
    <div class="video-details">
        <div class="video-download">
            <form action="/download" method="post">
                <label for="quality">Select Quality:</label>
                <select name="selected_quality" id="quality">
                    {% for resolution in resolutions %}
                        <option value="{{ resolution }}">{{ resolution }}p</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="url" value="{{ video.watch_url }}">
                <button type="submit" class="download-button">
                    <img src="../static/images/download.png" alt="download" />
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
```